
.news-channel-container {
    font-family:Arial, sans-serif;;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
  }
  
  .header {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 25%; /* Space between the arrow and heading */
    background-color: #3557CD;
    margin: 0;
    height:65px;
    font-stretch: expanded;
  }

  h2{
    color: #fff;
  }
  
  .back-button {
    background-color: #3557CD; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Top/Bottom and Left/Right padding */
    font-size: 20px; /* Font size */
    cursor: pointer;
    margin-left: 10%;
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
  }
  
  .back-button:hover {
    transform: scale(1.5); /* Slightly increase size on hover */
  }
  
  
  .checkbox-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px;
    list-style-type: none;
    padding: 0;
  }
  
  .checkbox-list li {
    display: flex;
    justify-content: center;
  }
  
  .submit-button {
    margin-top: 20px;
    padding: 10px 12px;
    font-size: 60%;
    margin-left: 45%;
    background-color: #3557CD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15%;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  
  input[type="checkbox"]{
    width:30px;
  }
  
  .label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  
  .label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  .label img {
    height: 100px;
    width: 150px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked + .label {
    border-color: #ddd;
  }
  
  :checked + .label:before {
    content: "✓";
    background-color: #3557CD;
    transform: scale(1);
  }
  
  :checked + .label img {
    transform: scale(0.9);
    z-index: -1;
  }
  